@tailwind base;
@tailwind components;
@tailwind utilities;

.center-align {
  transform: translate(-50%, -50%)
}

html, body {
  margin-bottom: 1em;
}

.no-focus:focus {
  outline: none;
} 

.white-focus:focus{
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
}
.white-focus:hover{
  outline: none;
  border: 1px solid white;
  border-radius: 15px;
}


.place::placeholder {
  color: whitesmoke;
}
